<div class="alain-default__content-title">
    <h1>
        <span [innerHTML]="pageTitle"></span>
        <small></small>
    </h1>
    <div>
        <button nz-button (click)="add()" [nzType]="'primary'" [nzSize]="'large'">新建</button>
    </div>
</div>

<sf #sf mode="search" [schema]="schemaData.search" [formData]="tableParams" (formSubmit)="searchSubmit(st,$event)" (formReset)="st.reset(tableParams)" class="search-form" [button]="'none'">
    <nz-form-item class="sf-btns">
        <nz-form-control class="ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
                <button type="submit" nz-button [nzType]="'primary'" [nzLoading]="httpSrv.loading">查询</button>
            </div>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="sf-btns">
        <nz-form-control class="ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
                <button nz-button (click)="appCase.exportXlsFromSt(st)">导出</button>
            </div>
        </nz-form-control>
    </nz-form-item>
</sf>

<div nz-row nzGutter="16">
    <div nz-col [nzSpan]="userSrv.userInfo.is_group?'4':'24'" [nzLg]="userSrv.userInfo.is_group?'4':'24'" nzXs="24" *ngIf="userSrv.userInfo.is_group">
        <nz-card>
            <p>
                <nz-tree #tree [(ngModel)]="treeData" [nzShowLine]="true" [nzShowExpand]="'false'" [nzDefaultExpandedKeys]="treeDataExpandKeys" [nzDefaultSelectedKeys]="treeDataSelectKeys" (nzClick)="mouseTreeAction('click',$event)"
                    (nzContextMenu)="mouseTreeAction('click',$event)" [ngModelOptions]="{standalone: true}">
                </nz-tree>
            </p>
        </nz-card>
    </div>
    <div nz-col [nzSpan]="userSrv.userInfo.is_group?'20':'24'" [nzLg]="userSrv.userInfo.is_group?'20':'24'" nzXs="24">
        <st #st class="simple-table" [data]="dataSource.url" [columns]="tableData.col" [req]="tableReq"></st>
    </div>
</div>
