<div class='modal-header'>
  <div class='modal-title'><span [innerHTML]="modalTitle"></span></div>
</div>

<div nz-row nzGutter="16">
  <div nz-col nzSpan="12">
    <div class="sf-view">
      <sf #sf [schema]='schemaData.main' [ui]='schemaData.mainUi' [formData]='form.data' (formSubmit)='onSubmit(sf)' [button]="'none'"></sf>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <nz-card style="width:100%;">
        
      <nz-tree #tree
          [(ngModel)]="treeData"
          [nzShowLine]="true" 
          [nzCheckable]="true"
          [nzMultiple]="true"
          [nzShowExpand]="true"
          [nzDefaultExpandedKeys]="treeDataExpandKeys"
          [nzDefaultCheckedKeys]="treeDataCheckedKeys"
          [nzDefaultSelectedKeys]="treeDataSelectKeys"
          [nzDefaultExpandAll]="false"
          [ngModelOptions]="{standalone: true}">
      </nz-tree>

    </nz-card>
  </div>
</div>


<div class='modal-footer'>
  <button nz-button nzType="primary" (click)='sf.submit()' [nzLoading]="httpSrv.loading" [disabled]='!sf.valid'>保存</button>
  <button nz-button nzType="danger" (click)='sf.reset()'>重置</button>
  <button nz-button nzType="default" (click)='modalClose()'>关闭</button>
</div>
