<div class="container header-top">
  <div class="logo">
    <a [routerLink]="['/']">
      <img class="expanded" src="./assets/images/logo.png" alt="{{settings.app.name}}" />
    </a>
  </div>
  <div class="top-nav-wrap">
    <ul class="top-nav">
      <li></li>
    </ul>

    <ul class="top-nav">
      <li class="hidden-xs">
        <div class="item" [routerLink]="['index']" [routerLinkActive]="['item-active']">
          <i class="anticon anticon-home"></i> 首页
        </div>
      </li>
      <li class="hidden-xs">
        <div class="item" [routerLink]="['news']" [routerLinkActive]="['item-active']">
          <i class="anticon anticon-home"></i> 资讯要闻
        </div>
      </li>
      <li class="hidden-xs">
        <div class="item" [routerLink]="['zzsh']" [routerLinkActive]="['item-active']">
          <i class="anticon anticon-home"></i> 开放的组织生活
        </div>
      </li>
      <li class="hidden-xs">
        <div class="item" [routerLink]="['zyfw']" [routerLinkActive]="['item-active']">
          <i class="anticon anticon-home"></i> 党员志愿服务
        </div>
      </li>
      <li class="hidden-xs">
        <div class="item" [routerLink]="['zthd']" [routerLinkActive]="['item-active']">
          <i class="anticon anticon-logout"></i> 主题活动
        </div>
      </li>
    </ul>
  </div>
</div>
