<div class="content__title">
  <h1>
    {{pageTitle}}
    <small></small>
  </h1>
</div>

<sf #sf mode="search" [schema]="searchSchema" [formData]="mainTableParams" (formSubmit)="searchSubmit(st,$event)" (formReset)="st.reset(mainTableParams)" class="search-form" [button]="'none'">
  <nz-form-item class="sf-btns">
    <nz-form-control class="ant-form-item-control-wrapper">
      <div class="ant-form-item-control">
        <button type="submit" nz-button [nzType]="'primary'">查询</button>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="sf-btns">
    <nz-form-control class="ant-form-item-control-wrapper">
      <div class="ant-form-item-control">
        <button nz-button (click)="caseFunc.exportXlsFromSt(st)">导出</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</sf>

<div nz-row nzGutter="16">
  <div nz-col nzSpan="24">
    <simple-table #st class="simple-table" [data]="primaryURL" [columns]="mainTableColumns" [extraParams]="mainTableParams"></simple-table>
  </div>
</div>
