<div class="alain-default__content-title">
  <h1>
    <span [innerHTML]="pageTitle"></span>
    <small></small>
  </h1>
</div>

<sf #sf mode="search" [schema]="schemaData.search" [formData]="mainTableParams" (formSubmit)="searchSubmit(st,$event)" (formReset)="st.reset(mainTableParams)" class="search-form" [button]="'none'">
  <nz-form-item class="sf-btns">
    <nz-form-control class="ant-form-item-control-wrapper">
      <div class="ant-form-item-control">
        <button type="submit" nz-button [nzType]="'primary'" [nzLoading]="httpSrv.loading">查询</button>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="sf-btns">
    <nz-form-control class="ant-form-item-control-wrapper">
      <div class="ant-form-item-control">
        <button nz-button (click)="appCase.exportXlsFromSt(st)">导出</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</sf>

<div nz-row nzGutter="16">
  <div nz-col nzSpan="24">
    <st #st [data]="primaryData.url" [columns]="tableData.col" [req]="{params: mainTableParams}"></st>
  </div>
</div>
